:root {
    --site-background: #FAFAFA;
    --black-0: rgba(24, 24, 24, 0.36);
    --black-1: rgba(24, 24, 24, 0.8);
    --black-2: rgba(24, 24, 24, 1);
}

html, body {
    font-family: Avenir, sans-serif;
    font-size: 18px;
    background: var(--site-background);
    color: var(--black-1);
    padding-top: 100px;
}

p {
    margin-bottom: 4px;
}

/******* helpers *******************************************************************************************************/

.bold {
    font-weight: bold;
    color: var(--black-2);
}

.mt-6 {
    margin-top: 110px;
}

#overlay {
    display: none;
    transition: all 0.2ms;
}

#overlay.active {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 5;
    background: rgba(255, 255, 255, 0.84);
}

#overlay.force {
    z-index: 15;
}

/******* heading *******************************************************************************************************/

.heading {
    position: relative;
    font-size: 32px;
    color: var(--black-2);
    font-weight: 800;
    display: block;
}

.heading:before {
    position: absolute;
    display: block;
    content: '';
    width: 72px;
    height: 2px;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.5;
    top: calc(50% - 1px);
    left: -100px;
}

.heading-description {
    font-size: 16px;
    color: var(--black-0);
    font-weight: 400;
}

/******* header ********************************************************************************************************/

#site-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    padding: 0 40px;
    z-index: 10;
    background: var(--site-background);
    border-bottom: solid 1px rgba(216, 216, 216, 0.3);
}

#site-header h1 {
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
}

#site-header h1 a {
    text-decoration: none;
    color: inherit;
}

#site-header #mobile-menu {
    display: none;
    outline: none;
    border: none;
    background: none;
}

#site-header #header-links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

#site-header #header-links li {
    display: block;
    margin: 0 16px;
}

#site-header #header-links li:last-child {
    margin-right: 0;
}

#site-header #header-links li a {
    font-size: 18px;
    text-decoration: none;
    color: var(--black-1);
}

/******* biography *****************************************************************************************************/

#biography {
    font-size: 28px;
}

/******* case-studies **************************************************************************************************/

#case-studies-container {
    position: relative;
    margin-top: 32px;
}

#case-studies-container .case-study {
    position: relative;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 32px;
    transition: all 0.3s;
    text-decoration: none;
}

#case-studies-container .case-study:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

#case-studies-container .case-study .media img {
    width: 350px;
}

#case-studies-container .case-study .body {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
}

#case-studies-container .case-study .body strong {
    font-size: 20px;
    font-weight: 900;
    line-height: 27px;
    color: var(--black-1);
}

#case-studies-container .case-study .body .read-more {
    font-size: 16px;
    color: var(--black-0);
    text-decoration: none;
}

#case-studies-container .case-study .body .read-more svg {
    width: 18px;
    margin-left: 8px;
}

#case-studies-container .case-study .body .read-more svg path {
    fill: var(--black-0);
}

/******* slider ********************************************************************************************************/

.slider {
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    float: left;
    transition: opacity 500ms linear;
    background: var(--site-background);
}

.slider > .slide.active {
    position: relative;
    opacity: 1;
    float: none;
}

/******* projects ******************************************************************************************************/

#projects-container {
    position: relative;
    margin-top: 32px;
}

#projects-container .project {
    display: flex;
}

#projects-container .project .media img {
    width: 400px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

#projects-container .project .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 24px;
}

#projects-container .project .body strong {
    font-size: 20px;
    color: var(--black-1);
    margin-bottom: 8px;
}

#projects-container .project .body p {
    font-size: 18px;
    color: var(--black-0);
}

#projects-container .project .body a {
    font-size: 18px;
    text-decoration: none;
    align-self: flex-end;
}

#projects-container #pagination {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 420px;
    font-size: 20px;
    color: var(--black-1);
    user-select: none;
}

#projects-container #pagination button {
    outline: none;
    border: none;
    background: none;
    margin-right: 32px;
}

#projects-container #pagination button.next {
    margin-left: 32px;
    margin-right: 0;
}

#projects-container #pagination button.disabled {
    opacity: 0.2;
    pointer-events: none;
}

#project-preview {
    position: fixed;
    width: 60%;
    height: 60%;
    top: 150px;
    left: 20%;
    display: none;
    z-index: 20;
    opacity: 0;
    transition: all 0.3s;
}

#project-preview.active {
    display: block;
    opacity: 1;
}

#project-preview #preview-header {
    position: absolute;
    top: -45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#project-preview #preview-header strong {
    font-weight: 800;
    font-size: 20px;
    color: var(--black-1);
}

#project-preview #preview-header button {
    border: none;
    outline: none;
    background: none;
}

#project-preview img {
    width: 100%;
}


@media screen and (min-width: 1700px) {
    #project-preview {
        width: 40%;
        height: 40%;
        left: 30%;
    }
}

/******* footer ********************************************************************************************************/

#footer #contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 0 8px 8px 0;
    height: 80px;
    font-size: 18px;
    color: var(--black-0);
}

#footer #contact a {
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color: var(--black-1);
    margin-left: 6px;
}

#footer #copyright {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    color: var(--black-0);
    padding: 32px 0;
}

/******* social ********************************************************************************************************/

#social {
    position: fixed;
    bottom: 32px;
    right: 32px;
    display: flex;
    flex-direction: column;
}

#social a {
    margin-top: 24px;
}

#social a svg g {
    transition: all 0.3s;
}

#social a:hover svg g {
    opacity: 1;
}

/******* page **********************************************************************************************************/

#page {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    color: var(--black-1);
    margin-bottom: 64px;
}

#page h1 {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 32px;
}

#page img {
    display: block;
    width: 100%;
}

#page .heading {
    margin-top: 32px;
    margin-bottom: 12px;
}

/******* responsive ****************************************************************************************************/

@media screen and (max-width: 600px) {
    html, body {
        padding-top: 85px;
    }

    .container {
        padding: 0 24px;
    }

    /* header */
    #site-header {
        padding: 0 24px;
    }

    #site-header #mobile-menu {
        display: block;
    }

    #site-header #mobile-menu #close {
        display: none;
    }

    #site-header.active #mobile-menu #close {
        display: block;
    }

    #site-header.active #mobile-menu #hamburger {
        display: none;
    }

    #site-header #header-links {
        position: fixed;
        width: 100%;
        top: -100%;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        background: var(--site-background);
        padding: 24px;
        opacity: 0;
        transition: all 0.2s;
        z-index: -1;
    }

    #site-header.active #header-links {
        top: 70px;
        opacity: 1;
    }

    #site-header #header-links li {
        margin: 16px 0;
    }

    #site-header #header-links li a {
        font-size: 18px;
    }

    /* case-studies */

    #case-studies-container .case-study {
        flex-direction: column;
        background: transparent;
        border: none;
    }

    #case-studies-container .case-study:hover {
        box-shadow: none;
    }

    #case-studies-container .case-study .media img {
        width: 100%;
        border-radius: 8px;
    }

    #case-studies-container .case-study .body {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px 0;
    }

    #case-studies-container .case-study .body strong {
        margin-bottom: 16px;
    }

    /* projects */
    #projects-container {
        overflow: hidden;
    }

    #projects-container .project {
        flex-direction: column;
    }

    #projects-container .project .media img {
        width: 100%;
    }

    #projects-container .project .body {
        margin-top: 100px;
        padding: 0;
    }

    #projects-container .project .body a {
        margin-top: 12px;
        align-self: flex-start;
    }

    #projects-container #pagination {
        top: calc(var(--project-height) + 30px);
        bottom: auto;
        left: 0;
        font-size: 20px;
        color: var(--black-1);
        width: 100%;
        justify-content: space-between;
    }

    #projects-container #pagination button {
        margin: 0 !important;
    }

    #project-preview {
        width: 90%;
        height: 90%;
        left: 5%;
    }

    /* social */
    #social {
        position: relative;
        bottom: auto;
        right: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
    }

    #social a {
        margin: 0 24px;
    }

    /******* footer ********************************************************************************************************/

    #footer {
        margin-top: 32px;
    }

    #footer #contact {
        display: flex;
        flex-direction: column;
    }

    #footer #contact a {
        margin-left: 0;
    }
}
